<button type="button" routerLink="">Back</button>


<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" required [(ngModel)]="currentBook.title" name="title" />
</div>

<div class="form-group">
    <label for="description">Author</label>
    <input class="form-control" id="description" required [(ngModel)]="currentBook.author" name="description" />
</div>

<div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" id="description" required [(ngModel)]="currentBook.description" name="description" />
</div>

<button (click)="updateBook()" class="btn btn-success">Submit</button>